.btn-section{
  padding-top: 1em;
}
.thumbnail-section{
  padding-top: 1em;
}

.labels-section{
  padding-top: 1em;
}

.badges-section{
  padding-top: 1em;
}

.dropdown-section{
  padding-top: 1em;
}

.navs-section{
  padding-top: 1em;
}

.navbars-section{
  padding-top: 1em;
}

.alert-section{
  padding-top: 1em;
}

.progress-section{
  padding-top: 1em;
}

.list-section{
  padding-top: 1em;
}

.panels-section{
  padding-top: 1em;
}
